/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h6 {
    margin:0;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;*/
}

.footer {
    position: relative;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.table-container {
    height: 10em;
}


/* Transactions Table 
-------------------------------------*/
.create-transaction{
    /*background-color: #04AA6D;*/
}

.transactions-table thead {
    height: 3vmax;
    background-color: #282A35;
    /*background-color: #04AA6D;*/
    color: #fff8f0;
}

.transactions-table {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
}

.transaction-header td {
    padding: 10px 15px;
}

.transaction-header {
    border-spacing: 0px;
    background-color: #edf5e1;
    /*font-size: 5vmin;*/
}

.transactions-table .transaction {
    font-size: 2.1vmin;
    background-color: white;
    color: #282A35;
    border-radius: 10px;
}




/*.transaction-header td:first-child {
    border-radius: 5px 0 0 5px;*/
/*border-left: 1px solid gray;*/
/*background-color: #FFA347;*/
/*}

.transaction-header td:last-child {
    border-radius: 0 5px 5px 0;*/
/*border-right: 1px solid gray;*/
/*}*/

.transaction:hover {
    background-color: #edf5e1;
}



nav, .nav-link, .navbar-brand {
    background-color: #282A35;
    color: #fff8f0;
}

a {
    color: #fff8f0;
}


.transaction-filter {
    border-radius: 5px 5px;
    background-color: #FDFDFD;
    /*border: 1px solid #6b6b6b;*/
    box-shadow: #6b6b6b 2px 2px 3px;
}


/* Body 
    ==========================*/
.main-body {
}


#transaction-page {
    background-color: #f0f0f0;
}
