
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete selected transaction?</h3>

<div>
    <h4>Transaction</h4>
    <hr />
    <button value="Delete" class="btn btn-danger confirm-delete">Delete</button>
</div>


<script>
    $(document).ready(function () {
        $(".confirm-delete").click(function () {
            var idList = new Array();
            $('.chk-transactions').each(function () {
                if ($(this).is(":checked")) {
                    idList.push($(this).parent().parent().attr('data-id'));
                }
            });

            jQuery.ajaxSettings.traditional = true
            $.post("/Transactions/Delete", { ids: idList }, function (data) {

            });
        });
    });

</script>