@model Expense_Tracker_aspnetcore.Models.Transaction

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Transaction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionID" />
            <div class="form-group">
                <i class="fa-solid fa-file-invoice-dollar p-1">
                </i>
                <input asp-for="Name" class="form-control" placeholder="Payee or item " />

                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="PostDate" class="control-label"></label>
                    <input asp-for="PostDate" class="form-control" asp-format="{0:yyyy-MM-dd Thh:mm}" />
                    <span asp-validation-for="PostDate" class="text-danger"></span>*@
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" type="text" value=@Model.PostDate.ToString("d MMMM yyyy") />
                <input asp-for="PostDate" class="form-control" type="text" value=@Model.PostDate.ToString("hh:mm tt") />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <select asp-for="AccountID" class="form-control" asp-items="ViewBag.Account"></select>
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
