@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;
@{
    var Accounts = Model.Accounts;
    var Categories = Model.Categories;
}

<div class="container">
    <div class="row p-3">
        <h5 class="mt-2 mb-4">Filters</h5>
    </div>

    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <input class="col" type="date" name="DateFrom" value=@Convert.ToDateTime(ViewData["DateFrom"]).ToString("yyyy-MM-dd") />
                <input class="col" type="date" name="DateTo" value=@Convert.ToDateTime(ViewData["DateTo"]).ToString("yyyy-MM-dd") />
            </div>
        </div>
        <div class="row mb-4 mt-4">
            <table>
                <tr>
                    <td class="col-1"><input type="checkbox" checked id="chk-all-accounts" /> </td>
                    <td class="col">All Accounts</td>
                </tr>
                <tbody>
                    @foreach (var account in Accounts)
                    {
                        <tr class="">
                            <td class="col-1"><input type="checkbox" checked value="" class="chk-accounts" id="@account.AccountID" /> </td>
                            <td class="col ">@account.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row mb-4 mt-4">
            <table>
                <tr class="border-bottom">
                    <td class="col-1"><input type="checkbox" checked id="chk-all-categories" /> </td>
                    <td class="col">All Categories</td>
                </tr>
                <tbody>
                    @foreach (var category in Categories)
                    {
                        <tr class="">
                            <td class="col-1"><input type="checkbox" checked value="" class="chk-categories" id="@category.CategoryID" /> </td>
                            <td class="col ">@category.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12"><button type="submit" value="Filter" class="btn btn-dark fa-solid fa-chart-pie" /></div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#chk-all-accounts").click(function () {
            //$('.chk-accounts').not(this).prop('checked', this.checked);
            $('.chk-accounts').prop('checked', this.checked);
        });
    });
    $(".chk-accounts").change(function () {
        if ($('.chk-accounts:checked').length == $('.chk-accounts').length) {
            $('#chk-all-accounts').prop('checked', this.checked);
        }
        else {
            $('#chk-all-accounts').prop('checked', false);
        }
    });

    $(document).ready(function () {
        $("#chk-all-categories").click(function () {
            $('.chk-categories').prop('checked', this.checked);
        });
    });
    $(".chk-categories").change(function () {
        if ($('.chk-categories:checked').length == $('.chk-categories').length) {
            $('#chk-all-categories').prop('checked', this.checked);
        }
        else {
            $('#chk-all-categories').prop('checked', false);
        }
    });
</script>