@model Expense_Tracker_aspnetcore.Models.Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "";
}
<div class="modal-header">
    <h5 class="modal-title">Create Transaction</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-action="Create">
    <div class="modal-body d-flex flex-column mx-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TransactionID" />
        <div class="form-group">
            <div class="d-flex flex-column">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    @foreach (var x in ViewBag.TransactionType)
                    {
                        if (x.Selected)
                        {
                            <input type="radio" class="btn-check" name="TransactionType" asp-for="TransactionType" id="trx-type-@x.Value" value=@x.Value autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="trx-type-@x.Value">@x.Value</label>

                        }
                        else
                        {
                            <input type="radio" class="btn-check" name="TransactionType" asp-for="TransactionType" id="trx-type-@x.Value" value=@x.Value autocomplete="off">
                            <label class="btn btn-outline-primary" for="trx-type-@x.Value">@x.Value</label>

                        }
                    }
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostDate" class="control-label"></label>
            <input asp-for="PostDate" class="form-control" value=@DateTime.Now.ToString("yyyy-MM-ddThh:mm") />
            <span asp-validation-for="PostDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Account" class="control-label"></label>
            <select asp-for="AccountID" class="form-control" asp-items="ViewBag.Account"></select>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Category"></select>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
