@model Expense_Tracker_aspnetcore.Models.Transaction

@{
    ViewData["Title"] = "Delete";
    Layout = "";
}

<h1>Confirm Delete</h1>

<h3>Are you sure you want to delete selected transaction?</h3>

<div>
    <h4>Transaction</h4>
    <hr />
    <button value="Delete" class="btn btn-danger confirm-delete">Delete</button>
</div>