@model Expense_Tracker_aspnetcore.Models.Transaction

@{
    ViewData["Title"] = "Edit";
    Layout = "";
}


<div class="modal-header">
    <h5 class="modal-title">Edit Transaction</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-action="Edit">
    <div class="modal-body d-flex flex-column mx-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TransactionID" />
        <div class="form-group">
            <div class="d-flex flex-column">
                <div class="btn-group" role="group" data-toggle="buttons">
                    @foreach (var x in ViewBag.TransactionType)
                    {
                        if (x.Selected)
                        {
                            <input type="radio" class="btn-check" name="btnradio" asp-for="TransactionType" id="trx-type-@x.Value" value=@x.Value autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="trx-type-@x.Value">@x.Value</label>

                        }
                        else
                        {
                            <input type="radio" class="btn-check" name="btnradio" asp-for="TransactionType" id="trx-type-@x.Value" value=@x.Value autocomplete="off">
                            <label class="btn btn-outline-primary" for="trx-type-@x.Value">@x.Value</label>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Transaction Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input asp-for="PostDate" class="form-control" type="datetime" value=@Model.PostDate.ToString("d MMMM yyyy hh:mm tt") />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <select asp-for="AccountID" class="form-control" asp-items="ViewBag.Account"></select>
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
