@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;

@{
    ViewData["Title"] = "Transactions";
    ViewData["PageId"] = "transaction-page";
}

@{
    var Transactions = Model.Transactions;
}
<div id="transaction-page">
    <div class="d-flex" id="transaction-filter">
        @* FILTER *@
        <div class="flex-shrink-1 mr-5 mt-3 mb-5 transaction-filter d-none d-lg-block" id="collapseFilter">
            @await Html.PartialAsync("~/Views/PartialViews/_TransactionFilters.cshtml", Model)
        </div>


        <div class="flex-grow-1 ml-5 mr-5 mb-5 mt-3">
            @* TRANSACTION TABLE *@
            <div id="transaction-table">
            @await Html.PartialAsync("~/Views/PartialViews/_TransactionTable.cshtml", Model)
            </div>

        </div>
    </div>


    @* MODAL *@
    <div class="modal fade" id="transaction-table-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="transaction-table-container"></div>
            </div>
        </div>
    </div>
    
    

</div>
