@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;

@{
    ViewData["Title"] = "Transactions";
    ViewData["PageId"] = "transaction-page";
}

@{
    var Transactions = Model.Transactions;
}
<div id="transaction-page">
    <div class="d-flex">
        <!-- FILTER  -->
        @await Html.PartialAsync("~/Views/PartialViews/_TransactionFilters.cshtml", Model)

        <!-- TRANSACTION TABLE  -->
        @await Html.PartialAsync("~/Views/PartialViews/_TransactionTable.cshtml", Model)

    </div>


    @* MODAL *@
    <div class="modal fade" id="transaction-table-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="transaction-table-container"></div>
            </div>
        </div>
    </div>



</div>
