@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;

@{
    ViewData["Title"] = "Transactions";
    ViewData["PageId"] = "transaction-page";
}

@{
    var Transactions = Model.Transactions;
}
<div id="transaction-page" class="d-flex flex-row">

    <!-- FILTER  -->
    @await Html.PartialAsync("~/Views/PartialViews/_TransactionFilters.cshtml", Model)
    

    <!-- TABLE  -->
    @await Html.PartialAsync("~/Views/PartialViews/_TransactionTable.cshtml", Model)


</div>
