@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;

@{
    ViewData["Title"] = "Transactions";
    ViewData["PageId"] = "transaction-page";
}

@{
    var Transactions = Model.Transactions;
}
<div id="transaction-page">
    <div class="d-flex" id="transaction-filter">
        @* FILTER *@
        <div class="flex-shrink-1 mr-5 mt-3 mb-5 transaction-filter d-lg-block" id="collapseFilter">
            @await Html.PartialAsync("~/Views/PartialViews/_TransactionFilters.cshtml", Model)
        </div>


        <div class="flex-grow-1 ml-5 mr-5 mb-5 mt-3">
            @* TRANSACTION TABLE *@
            <div id="transaction-table">
                @await Html.PartialAsync("~/Views/PartialViews/_TransactionTable.cshtml", Model)
            </div>

        </div>
    </div>


    @* MODAL *@
    <div class="modal fade" id="edit-transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="edit-transaction-container"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="create-transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="create-transaction-container"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <h1>Confirm Delete</h1>

                <h3>Are you sure you want to delete selected transaction?</h3>

                <div>
                    <h4>Transaction</h4>
                    <hr />
                    <button value="Delete" class="btn btn-danger confirm-delete">Delete</button>
                </div>

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    /* Create ------------------------*/
    $(document).ready(function () {
        $('.create-transaction').click(function () {
            var url = "/Transactions/Create"; // the url to the controller
            $.get(url, function (data) {
                $('#create-transaction-container').html(data);
                $('#create-transaction').modal('show');
            });
        });
    });
    $(".chk-transactions").click(function (e) {
        e.stopPropagation();
    });



    /* Delete ------------------------*/
    $(document).ready(function () {
        $(".delete-selected-transactions").click(function () {
            var count = $('.chk-transactions').length;
            $('#delete-transaction').modal('show');
        });

        $(".confirm-delete").click(function () {
            var idList = new Array();
            $('.chk-transactions').each(function () {
                if ($(this).is(":checked")) {
                    idList.push($(this).parent().parent().attr('data-id'));
                }
            });

            jQuery.ajaxSettings.traditional = true
            $.post("/Transactions/Delete", { ids: idList }, function (data) {
                
            });
        })



    });




    /* Transaction Select------------------------*/
    $(document).ready(function () {
        $("#chk-all-transactions").click(function () {
            $('.chk-transactions').prop('checked', this.checked);
        });
    });

    $(".chk-transactions").change(function () {
        if ($('.chk-transactions:checked').length == $('.chk-transactions').length) {
            $('#chk-all-transactions').prop('checked', this.checked);
        }
        else {
            $('#chk-all-transactions').prop('checked', false);
        }
    });







</script>
