@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;

@{
    ViewData["Title"] = "Transactions";
    ViewData["PageId"] = "transaction-page";
}

@{
    var Transactions = Model.Transactions;
}
<div id="transaction-page">
    <div class="d-flex">
        <!-- FILTER  -->
        @await Html.PartialAsync("~/Views/PartialViews/_TransactionFilters.cshtml", Model)

        <!-- TRANSACTION TABLE  -->
        @await Html.PartialAsync("~/Views/PartialViews/_TransactionTable.cshtml", Model)

    </div>


    

</div>
